# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/packages/*/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/dist/
/packages/*/.next/
/packages/*/out/
/packages/*/dist/

# production
/build
/packages/*/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/markdown-rules
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# VSCode patch
# Ignore all local history of files
**/.history
